@keyframes animatedImageLoader {
    0% {
        background-size: 50% auto;
    }

    33% {
        background-size: 85% auto;
    }

    66% {
        background-size: 35% auto;
    }

    100% {
        background-size: 50% auto;
    }
}