.main-menu {

    $this: &;

    @include trs();
    @include fixed(0, 0, null, 0);
    @include size(100%, 100vh);
    background-color: $color-white;
    margin: 0 auto;
    overflow-x: hidden;
    overflow-y: auto;
    transform: translateX(120%);
    will-change: transform;
    z-index: 100;

    &.is-open {
        transform: translateX(0);
        visibility: visible;
    }

    &__container {
        @extend %container;
        padding-bottom: 50px;
    }

    &__top-components {
        align-items: center;
        display: flex;
        flex-direction: row-reverse;
        justify-content: space-between;
        padding: 30px 0;
    }

    &__close-btn {
        @include font(null, 1.3rem);
        @include size(50px);
        @include trs();
        background-color: $color-3--1;
        border: none;
        border-radius: 50%;
        color: $color-3--4;
        cursor: pointer;

        @include on-event() {
            background-color: $color-3--5;
            color: $color-white;
        }
    }

    &__nav {
        margin: 20px -20px;
    }

    &__item {
        position: relative;

        &:not(:last-child) {
            border-bottom: 1px solid $color-3--3;
        }

        &.is-open {
            #{$this}__link-icon {
                transform: rotateX(-180deg);
            }
        }
    }

    &__item-link {
        @include font(null, 1.8rem, $normal);
        @include size(100%, auto);
        @include trs();
        align-items: center;
        background-color: transparent;
        border: {
            radius: $border-radius;
            width: 0;
        }
        color: $color-black;
        display: flex;
        justify-content: space-between;
        padding: 15px 20px;
        text-decoration: none;

        @include on-event() {
            background-color: $color-1--1;
            color: $color-white;
        }

        &[aria-expanded="true"],
        &[aria-current="page"] {
            background-color: $color-1--1;
            color: $color-white;
        }
    }

    &__item-icon {
        margin-left: auto;
    }

    &__dropdown {
        @include reset-position();
        border: 0;
        padding: 0;

        #{$this}__item-link {
            font-size: 1.6rem;
            padding: 15px 40px;
        }
    }
}