{%- from 'components/logo/logo.njk' import Logo -%}
{%- from 'views/core-components/button.njk' import Button -%}
{%- from 'views/core-components/icon.njk' import Icon -%}

{% set mainNavTree = [
    {
        text: 'Отделения',
        dropdown: [
            { text: 'Вирусология', link: 'page-detail.html' },
            { text: 'Кардиология', link: 'page-detail.html' },
            { text: 'Кардиология', link: 'page-detail.html' },
            { text: 'Кардиология', link: 'page-detail.html' },
            { text: 'Кардиология', link: 'page-detail.html' },
            { text: 'Кардиология', link: 'page-detail.html' }
        ]
    },
    { text: 'Наши врачи', link: 'list-persons.html' },
    { text: 'Записаться на прием', link: 'page-form.html' },
    { text: 'О нас', link: 'page-detail.html' }
] %}

{% macro MainMenu(
    isHome = false,
    menuLinks = mainMenuLinks
) %}
    <div class="main-menu js-main-menu" role="dialog" aria-label="Основная навигация" aria-modal="true" aria-hidden="true" hidden>
        <div class="main-menu__container">
            <div class="main-menu__top-components">
                <div class="main-menu__close-wrap">
                    {% call Button(
                        className = 'main-menu__close-btn js-main-menu-close',
                        icon = 'fas fa-times',
                        attrs = {
                            'title': 'Закрыть меню',
                            'aria-haspopup': 'true'
                        }
                    ) %}
                        <span class="ghost">Закрыть меню</span>
                    {% endcall %}
                </div>
                <div class="main-menu__logo">
                    {{ Logo(isHome) }}
                </div>
            </div>
            <div class="main-menu__nav">
                <ul class="main-menu__list">
                    {% for item in mainNavTree %}
                        <li class="main-menu__item {{ 'js-dropdown' if item.dropdown }}">
                            {% if item.dropdown %}
                                <button
                                    type="button"
                                    class="main-menu__item-link js-dropdown-toggle"
                                >
                                    <span class="main-menu__link-text">{{ item.text }}</span>
                                    {{ Icon('main-menu__link-icon fas fa-angle-down') }}
                                </button>
                                <div class="main-menu__dropdown js-dropdown-block">
                                    <ul class="main-menu__list">
                                        {% for item in item.dropdown %}
                                            <li class="main-menu__item">
                                                <a href="{{ item.link }}" class="main-menu__item-link">{{ item.text }}</a>
                                            </li>
                                        {% endfor %}
                                    </ul>
                                </div>
                            {% else %}
                                <a href="{{ item.link }}" class="main-menu__item-link">{{ item.text }}</a>
                            {% endif %}
                        </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>
{% endmacro %}