.main-menu-toggle {
    $this: &;

    align-items: center;
    background-color: transparent;
    border: none;
    display: flex;
    justify-content: center;
    padding: 10px 0;

    @include on-event {
        #{$this}__bar {
            &:nth-child(1) {
                transform: rotate(-45deg) translate(-11px, -3px);
            }

            &:nth-child(2) {
                opacity: 0;
            }

            &:nth-child(3) {
                transform: rotate(45deg) translate(-11px, 3.2px);
            }
        }
    }

    &__bars {
        @include size(20px);
        pointer-events: none;
        position: relative;
    }

    &__bar {
        @include absolute(50%, null, null, 50%);
        @include size(20px, 2px);
        @include trs();
        background-color: $color-3--5;
        transform: translateX(-50%);

        &:nth-child(1) {
            top: 3px;
        }

        &:nth-child(2) {
            opacity: 1;
            top: 9px;
        }

        &:nth-child(3) {
            top: 15px;
        }
    }

    &.is-open {
        #{$this}__bar {
            &:nth-child(1) {
                transform: rotate(-45deg) translate(-11px, -3px);
            }

            &:nth-child(2) {
                opacity: 0;
            }

            &:nth-child(3) {
                transform: rotate(45deg) translate(-11px, 3px);
            }
        }
    }
}