.cover-item {
    border-radius: $border-radius;
    overflow: hidden;
    position: relative;

    &__media {
        background-color: $color-black;
        height: 639px;
        position: relative;

        @include breakpoint(small down) {
            height: 639px;
        }
    }

    &__picture {
        display: block;
        height: 100%;

        img {
            @include object-fit;
            @include size(100%);
        }
    }

    &__content {
        @include absolute(null, 0, 0, 0);
        background-image: linear-gradient(to top, $color-black, transparent);
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        padding: 30px 0;
    }

    &__container {
        @extend %container;
        padding: 0 90px;

        @include breakpoint(small down) {
            padding: 0 20px;
        }
    }

    &__text {
        @extend %link-block-context;
        @include size(100%, auto);
        max-width: 770px;
    }

    &__title {
        @include font($typo-1, 2.6rem, $bold);
        color: $color-white;
        line-height: 1.55;

        @include breakpoint(small down) {
            font-size: 2.2rem;
        }
    }

    &__title-link {
        @extend %link-block;
    }
}