.site-content {
    &__wrapper {
        @extend %container;
        display: flex;
        flex-wrap: wrap;
        padding-bottom: 80px;
        padding-top: 80px;
        position: relative;
        z-index: 0;

        @include breakpoint(small down) {
            padding-top: 40px;
        }

        .is-detail & {
            @extend %container-sm;
        }
    }

    &__main {
        flex-grow: 1;
        width: 1%;

        > *:first-child {
            margin-top: 0;
        }

        > *:last-child {
            margin-bottom: 0;
        }
    }
}