.error {
    &__container {}

    &__title {
        @include font($typo-1, 4rem, $bold);
        color: $color-3--5;
        line-height: 1.2;
        margin: 0 0 25px;

        @include breakpoint(small down) {
            font-size: 3.2rem;
            margin: 0 0 25px;
        }
    }

    &__teaser {
        @include font($typo-1, 2rem, $normal, normal);
        color: $color-black;
        line-height: 1.7;
        margin: 0 0 15px;
        word-break: break-word;

        @include breakpoint(small down) {
            font-size: 1.4rem;
        }

        a {
            text-decoration: underline;

            @include on-event {
                text-decoration: none;
            }
        }
    }
}