{%- from 'views/core-components/link.njk' import Link -%}

{% macro BackLink(
    link = 'list-blog.html',
    text = 'назад'
) %}
    {% call Link(
        href = link,
        className = 'back-link',
        icon = 'back-link__icon fas fa-chevron-left'
    ) %}
        <span class="back-link__text">{{ text }}</span>
    {% endcall %}
{% endmacro %}