.advantages {
    &.section {
        margin: 96px 0 30px;
    }

    &__container {
        @extend %container;
    }

    &__wrapper {
        margin: 0 -77px;

        @include breakpoint(medium down) {
            margin: 0 -20px;
        }
    }

    &__list {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;

        @include breakpoint(medium down) {
            justify-content: center;
        }

        @include breakpoint(small down) {
            flex-direction: column;
            justify-content: flex-start;
        }
    }

    &__item {
        margin-bottom: 20px;
        padding: 0 77px;
        width: 33.3333%;

        @include breakpoint(medium down) {
            margin-bottom: 50px;
            padding: 0 20px;
            width: 50%;
        }

        @include breakpoint(small down) {
            width: 100%;
        }

        &:last-of-type {
            margin-bottom: 0;
        }
    }
}