.advantage-item {
    &__wrapper {
        align-items: center;
        display: flex;
    }

    &__icon {
        @include size(61.5px);
        align-items: center;
        background-color: $color-1--1;
        border-radius: 50%;
        display: flex;
        flex-shrink: 0;
        justify-content: center;
        margin-right: 20px;
    }

    &__title {
        @include font($typo-1, 2.2rem, $semibold);
        color: $color-3--5;
    }

    &__teaser {
        @include font($typo-1, 1.4rem, $normal);
        color: $color-3--5;
        line-height: 1.67;
        margin-top: 21px;
        padding: 17px 5px 0;
        position: relative;

        &::before {
            @include absolute(0, null, null, 0);
            @include size(334px, 1px);
            background-color: $color-3--19;
            content: '';
            max-width: 100%;
        }
    }
}