{% from 'views/utils/utils.njk' import svg with context %}
{%- from 'views/core-components/section.njk' import Section -%}

{% set itemsParams = [
    {
        icon: 'man',
        title: 'Увлеченные гиды',
        teaser: 'Наши экскурсии проводят увлеченные, общительные люди с большим багажом знаний: историки, архитекторы, журналисты, искусствоведы и другие эксперты.'
    },
    {
        icon: 'map',
        title: 'Необычные экскурсии',
        teaser: 'Мы любим необычные экскурсии: с нами вы не только узнаете историю города, но и погуляете по его секретным барам, крышам и галереям современного искусства.'
    },
    {
        icon: 'chat',
        title: 'Только личное общение',
        teaser: 'Вся магия и яркие впечатления рождаются в личном общении, поэтому мы специально заботимся о качестве экскурсий. Вы не найдете у нас гидов со скучными заученными программами.'
    }
] %}

{% macro AdvantageItem(
    icon = 'man',
    title = 'Default text',
    teaser = lorem(1)
) %}
    <div class="advantage-item">
        <div class="advantage-item__wrapper">
            <div class="advantage-item__icon">
                {{ svg('icons/' + icon) }}
            </div>
            <h3 class="advantage-item__title">{{ title }}</h3>
        </div>
        <p class="advantage-item__teaser">{{ teaser }}</p>
    </div>
{% endmacro %}

{% macro Advantages(
    titleText = 'Преимущества нашей платформы',
    items = itemsParams
) %}
    {% call Section(className = 'advantages', container = 'advantages__container') %}
        <h2 class="advantages__title ghost">{{ titleText }}</h2>
        <div class="advantages__wrapper">
            <ul class="advantages__list">
                {% for item in items %}
                    <li class="advantages__item appearance-animation from-bottom">
                        {{ AdvantageItem(
                            icon = item.icon,
                            title = item.title,
                            teaser = item.teaser
                        ) }}
                    </li>
                {% endfor %}
            </ul>
        </div>
    {% endcall %}
{% endmacro %}