{%- from 'components/heading/heading.njk' import Heading -%}
{%- from 'components/description/description.njk' import Description -%}
{%- from 'components/advantages/advantages.njk' import Advantages -%}
{%- from 'components/steps/steps.njk' import Steps -%}
{%- from 'components/blog/blog.njk' import BlogHome -%}
{%- from 'components/subscribe/subscribe.njk' import Subscribe -%}

{% set bodyClass = 'is-about' %}
{% set title = '«Traval Me» — это' %}
{% set teaser = 'платформа простого и надежного онлайн бронирования экскурсий на русском языке по всему миру. Был
основан в 2012 году в Санкт-Петербурге. В настоящее время является лидером рынка в России и странах бывшего
СНГ, занимает одну из лидирующих позиций в мире по данному сегменту. Стал финалистом конкурса «Стартап года
2013», премии «Моя планета», селекционного этапа Y Combinator (бизнес-инкубатор, из которого вышли
Airbnb, Dropbox).' %}

{% extends 'views/layouts/base.njk' %}

{%- block heading -%}
    {{ Heading(
        title = title,
        teaser = teaser,
        imageSizes = [
            '480x153?479',
            '768x244?767',
            '1280x407?1279',
            '1440x458'
        ]
    ) }}
{%- endblock -%}

{%- block contentBottom -%}
    {{ Description() }}
    {{ Advantages() }}
    {{ Steps() }}
    {{ BlogHome(isCarousel = true) }}
    {{ Subscribe() }}
{%- endblock -%}
