{%- from 'components/cover/cover.njk' import CoverHome -%}
{%- from 'components/quick-access/quick-access.njk' import QuickAccess -%}
{%- from 'components/blog/blog.njk' import BlogHome -%}
{%- from 'components/accordion/accordion.njk' import AccordionSection -%}
{%- from 'components/events/events.njk' import EventsHome -%}

{% set title = 'Домашняя страница' %}
{% set bodyClass = 'home-page' %}
{% set isHome = true %}

{% extends 'views/layouts/base.njk' %}

{% block main %}
    {{ CoverHome() }}
    {{ QuickAccess() }}
    {{ BlogHome() }}
    {{ AccordionSection() }}
    {{ EventsHome() }}
{% endblock %}