{%- from 'components/heading/heading.njk' import Heading -%}
{%- import 'views/core-components/filter.njk' as Filter -%}
{%- import 'views/core-components/form.njk' as Form -%}
{%- from 'components/page-list/page-list.njk' import PageList -%}
{%- from 'components/blog/blog.njk' import BlogList -%}

{% set title = 'Новости' %}

{% extends 'views/layouts/base.njk' %}

{%- block heading -%}
    {{ Heading(
        title = title
    ) }}
{%- endblock -%}

{%- block content -%}
    {{ PageList(
        itemsCount = 6,
        list = BlogList(count = 6),
        pagerType = 'default'
    ) }}
{% endblock %}
