{%- from 'components/heading/heading.njk' import Heading -%}
{%- import 'views/core-components/filter.njk' as Filter -%}
{%- import 'views/core-components/form.njk' as Form -%}
{%- from 'components/page-list/page-list.njk' import PageList -%}
{%- from 'components/persons/persons.njk' import PersonsList -%}

{% set title = 'Наши врачи' %}

{% extends 'views/layouts/base.njk' %}

{%- block heading -%}
    {{ Heading(
        title = title
    ) }}
{%- endblock -%}

{% block filterBlock %}
    {% call Filter.FilterWrapper(legend = 'Фильтровать записи по параметрам:', ariaLabelText = 'Фильтровать записи') %}
        {% call Filter.FieldsWrapper() %}
            {% call Filter.FieldsGroup() %}
                {% call Filter.FilterField('col-md-6 col-xs-12') %}
                    {{ Form.FormField(
                        type = 'text',
                        label = 'Имя и фамилия',
                        id = 'specialist-name',
                        name = 'specialist-name'
                    ) }}
                {% endcall %}
                {% call Filter.FilterField('col-md-6 col-xs-12') %}
                    {{ Form.FormField(
                        type = 'select',
                        label = 'Тип специалиста',
                        id = 'specialist-type',
                        name = 'specialist-type'
                    ) }}
                {% endcall %}
            {% endcall %}
        {% endcall %}

        {{ Filter.ButtonsWrapper() }}
    {% endcall %}
{% endblock %}

{%- block content -%}
    {{ PageList(
        itemsCount = 10,
        list = PersonsList(count = 10),
        pagerType = 'default'
    ) }}
{% endblock %}
