{%- from 'components/heading/heading.njk' import Heading -%}
{%- from 'views/core-components/ce-gallery.njk' import Gallery -%}
{%- from 'components/accordion/accordion.njk' import AccordionItem -%}
{%- from 'components/downloads/downloads.njk' import DownloadsSection -%}
{%- from 'components/persons/persons.njk' import PersonsSection -%}

{% set bodyClass = 'is-detail' %}
{% set title = 'Заголовок страницы' %}

{% extends 'views/layouts/base.njk' %}

{%- block heading -%}
    {{ Heading(
        title = title
    ) }}
{%- endblock -%}

{%- block content -%}
    <div class="rte">
        <h2>Заголовок H2</h2>
        <h3>Заголовок H3</h3>
        <h4>Заголовок H4</h4>
        <h5>Заголовок H5</h5>
        <p>Основной текст статьи. Основной текст <a href="#">статьи</a>. Основной текст статьи. Основной текст статьи. Основной текст статьи. Основной текст статьи. Основной текст статьи. Основной текст статьи. Основной текст статьи.</p>

        <ul>
            <li>{{ lorem(1) }}</li>
            <li>{{ lorem(1) }}</li>
            <li>
                <p>{{ lorem(1) }}</p>
                <ul>
                    <li>{{ lorem(1) }}</li>
                    <li>{{ lorem(1) }}</li>
                    <li>{{ lorem(1) }}</li>
                </ul>
            </li>
            <li>{{ lorem(1) }}</li>
        </ul>

        <ol>
            <li>{{ lorem(1) }}</li>
            <li>{{ lorem(1) }}</li>
            <li>
                <p>{{ lorem(1) }}</p>
                <ol>
                    <li>{{ lorem(1) }}</li>
                    <li>{{ lorem(1) }}</li>
                    <li>{{ lorem(1) }}</li>
                </ol>
            </li>
        </ol>

        <blockquote>
            <p>{{ lorem(1) }}</p>
        </blockquote>

        <p class="highlight">{{ lorem(1) }}</p>

        {{ Gallery() }}
        {{ Gallery(
            images = [
                {
                    size: ['460x355'],
                    alt: '[IMAGE ALT]',
                    animationClass: 'appearance-animation from-left'
                },
                {
                    size: ['460x355'],
                    alt: '[IMAGE ALT]',
                    animationClass: 'appearance-animation from-right'
                }
            ]
        ) }}
    </div>
    <section class="section accordion-section">
        {{ AccordionItem() }}
        {{ AccordionItem() }}
        {{ AccordionItem() }}
    </section>
    {{ DownloadsSection() }}
    {{ PersonsSection() }}
{% endblock %}
