{%- from 'components/heading/heading.njk' import Heading -%}
{%- import 'views/core-components/filter.njk' as Filter -%}
{%- import 'views/core-components/form.njk' as Form -%}
{%- from 'components/page-list/page-list.njk' import PageList -%}
{%- from 'components/search/search.njk' import SearchTagsList -%}

{% set title = 'Поиск по сайту' %}

{% extends 'views/layouts/base.njk' %}

{%- block heading -%}
    {{ Heading(
        title = title
    ) }}
{%- endblock -%}

{% block filterBlock %}
    {% call Filter.FilterWrapper(legend = 'Фильтровать записи по параметрам:', ariaLabelText = 'Фильтровать записи блога') %}
        {% call Filter.FieldsWrapper() %}
            {% call Filter.FieldsGroup() %}
                {% call Filter.FilterField('col-xs-12') %}
                    {{ Form.FormField(
                        type = 'text',
                        label = 'Ключевые слова',
                        id = 'key-words',
                        name = 'key-words'
                    ) }}
                {% endcall %}
            {% endcall %}
        {% endcall %}

        {{ Filter.ButtonsWrapper() }}
    {% endcall %}
{% endblock %}

{%- block content -%}
    {{ PageList(
        list = SearchTagsList()
    ) }}
{% endblock %}
