.logo {
    align-items: center;
    display: flex;
    max-width: 240px;
    text-decoration: none;

    @include breakpoint(small down) {
        max-width: 200px;
    }

    &__image {
        align-content: center;
        align-items: center;
        display: flex;
        flex-shrink: 0;
        height: 65px;
        margin-right: 15px;

        img {
            max-height: 100%;
        }
    }

    &__text {
        @include font($typo-1, 1.4rem, $bold);

        @include breakpoint(small down) {
            font-size: 1.2rem;
        }
    }
}