.download-links {
    @include breakpoint(medium down) {
        align-items: center;
        display: flex;
        flex-direction: column;
    }

    &__title {
        @include font(null, 1.5rem, $normal);
        color: $color-3--5;
        margin-bottom: 14px;

        @include breakpoint(medium down) {
            @include font(null, 1.6rem, $semibold);

            br {
                display: none;
            }
        }
    }

    & &__list {
        display: flex;
        flex-wrap: wrap;
        margin: 0 -4px;
    }

    &__item {
        padding: 4px;

        img {
            @include breakpoint(medium down) {
                @include size(auto, 40px);
            }
        }
    }
}