.excursion-item {
    $this: &;

    @extend %link-block-context;
    border: 1px solid $color-3--3;
    border-radius: 20px;
    display: flex;
    flex-direction: column-reverse;
    justify-content: flex-end;
    height: 100%;
    margin: 0 auto;
    max-width: 334px;
    overflow: hidden;

    &__image {
        display: flex;

        img {
            @include size(100%, auto);
            display: block;
            max-width: 100%;
        }
    }

    &__content {
        padding: 26px 25px 20px;

        @include breakpoint(small down) {
            padding: 10px;
        }
    }

    &__title {
        @include font(null, 1.4rem, $bold);
        color: $color-3--5;
        line-height: 1.5;

        @include breakpoint(small down) {
            font-size: 1.1rem;
        }

        + #{$this}__teaser {
            margin-top: 12px;
        }
    }

    &__title-link {
        @extend %link-block;
        @extend %underline-context;
    }

    &__teaser {
        @include font(null, 1.2rem, $normal);
        color: $color-3--4;

        @include breakpoint(small down) {
            display: none;
        }
    }

    &__info {
        border-top: 1px solid $color-3--1;
        margin-top: 20px;
        padding: 12px 50px 0 0;

        @include breakpoint(small down) {
            margin-top: 10px;
            padding: 10px 0 0 0;
        }
    }

    &__price {
        @include font(null, 1.2rem, $normal);
        color: $color-3--5;

        span {
            @include font(null, 2rem, $bold);

            @include breakpoint(small down) {
                font-size: 1.2rem;
            }
        }
    }

    &__time {
        @include font(null, 1.2rem, $normal);
        border: 1px solid $color-3--2;
        border-radius: 20px;
        color: $color-3--5;
        display: inline-block;
        margin-top: 8px;
        padding: 5px 12px;
    }

    &__time-select {
        margin-top: 8px;
        position: relative;
        z-index: 4;

        select {
            @include font(null, 1.2rem, $normal);
            background: none;
            background: {
                image: url('../icons/arrow-down.svg');
                position: right 11px top 50%;
                repeat: no-repeat;
            }
            border: 1px solid $color-3--2;
            border-radius: 15px;
            cursor: pointer;
            color: $color-3--5;
            min-height: 30px;
            padding: 5px 24px 5px 13px;
            /* for Firefox */
            -moz-appearance: none;
            /* for Chrome */
            -webkit-appearance: none;
        }
    }

    &__favorite {
        @include absolute(15px, 15px, null, null);
        @include font(null, 2.2rem);
        @include size(50px);
        @include trs();
        background-color: rgba($color-white, 0.1);
        border: {
            radius: 50%;
            width: 0;
        }
        cursor: pointer;
        color: $color-white;
        text-shadow: 0 0 6px rgba($color-black, 0.2);
        z-index: 4;

        @include breakpoint(small down) {
            @include absolute(7.5px, 7.5px, null, null);
            @include size(23px);
            font-size: 1rem;
        }

        @include on-event() {
            background-color: $color-3--5;
            color: $color-white;
        }
    }

    &__add {
        @include absolute(null, 25px, 23px, null);
        @include font(null, 1.2rem);
        @include size(46px);
        @include trs();
        background-color: $color-3--2;
        border: {
            radius: 50%;
            width: 0;
        }
        cursor: pointer;
        color: $color-3--5;
        z-index: 4;

        @include breakpoint(small down) {
            @include reset-position();
            @include size(100%, auto);
            background-color: $color-1--1;
            border-radius: 17px;
            margin-top: 8px;
            padding: 7px 6px;
            position: relative;
            z-index: 4;
        }

        @include on-event() {
            background-color: $color-3--5;
            color: $color-white;
        }

        @include fa-icon-style(false) {
            color: $color-black;
            font-size: 2rem;

            @include breakpoint(small down) {
                display: none;
            }
        }

        .btn__text {
            @include breakpoint(medium) {
                @include styles-visually-hidden();
            }
        }
    }
}