{%- from 'views/core-components/section.njk' import Section -%}
{%- import 'views/core-components/title.njk' as Title -%}

{% set itemsParams = [
    {
        title: 'Выбирайте экскурсию на сайте',
        teaser: 'Все экскурсии на сайте авторские, экскурсию проводит человек, который ее придумал. Вы можете заранее прочитать описание программы, посмотреть, что гид написал о себе, познакомиться с отзывами других путешественников и выбрать экскурсию, которая вам ближе всего.'
    },
    {
        title: 'Можно пообщаться с гидом до оплаты',
        teaser: 'Бронирование происходит через сайт, при этом вы общаетесь напрямую с гидом и можете задать ему любые вопросы. Вам не нужно ничего оплачивать, пока вы не проясните все важные для себя детали.'
    },
    {
        title: 'Не нужно платить все деньги сразу',
        teaser: 'На сайте вы оплачиваете 20-23% стоимости экскурсии, это позволяет гиду забронировать выбранное вами время. Оставшуюся часть стоимости вы оплачиваете гиду на месте после экскурсии.'
    }
] %}

{% macro Steps(
    titleText = 'Как мы работаем',
    items = itemsParams
) %}
    {% call Section(className = 'steps', container = 'steps__container') %}
        <div class="section__title appearance-animation flip-up">
            {{ Title.TitleDefault(
                className = 'is-primary',
                text = titleText
            ) }}
        </div>
        <div class="section__content">
            <div class="steps-block">
                <div class="steps-block__image-wrapper appearance-animation from-left">
                    <picture class="steps-block__image">
                        <img src="images/mockup.png" alt="{{ lorem(1) }}">
                    </picture>
                </div>
                <div class="steps-block__text appearance-animation from-right">
                    <ul class="steps-block__list">
                        {% for item in items %}
                            <li class="steps-block__item">
                                <h3 class="steps-block__title">{{ item.title }}</h3>
                                <p class="steps-block__teaser">{{ item.teaser }}</p>
                            </li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </div>
    {% endcall %}
{% endmacro %}