/*
 * Dropdown component.
 */

.js-dropdown {
    position: relative;
}

.js-dropdown-toggle {
    cursor: pointer;
}

.js-dropdown-block {
    @include absolute(100%, null, null, 0);
    border: 1px solid $color-3--3;
    display: none;
    list-style: none;
    min-width: 100%;
    opacity: 0;
    padding: 10px;
    transform: translateY(-10px);
    transition: visibility 200ms ease-in-out, transform 350ms ease-in-out, opacity 200ms ease-in-out;
    visibility: hidden;
    width: auto;
    z-index: 5;

    .is-open > & {
        display: block;
        opacity: 1;
        transform: translateY(-1px);
        transition: visibility 200ms ease-in-out, transform 200ms ease-in-out, opacity 350ms ease-in-out;
        visibility: visible;
    }
}
