.filter-wrapper {
    .heading + & {
        margin-top: 20px;
    }
}

// Filter component.
.filter {
    width: 100%;

    &__fields-group {
        display: flex;
        flex-wrap: wrap;
        margin: 0 -23px;

        @include breakpoint(small down) {
            margin: 0 -20px;
        }
    }

    &__column {
        padding: 0 23px;

        &.col-xs-12 {
            flex-basis: 100%;
            max-width: 100%;
        }

        &.col-md-6 {
            @include breakpoint(medium) {
                flex-basis: 50%;
                max-width: 50%;
            }
        }
    }

    &__buttons {
        display: flex;
        flex-wrap: wrap;
    }
}