/**
 * Base styles for date component.
 */
.date {
    @include font(null, 1.4rem, $normal);
    background-color: $color-1--1;
    border-radius: $border-radius;
    color: $color-white;
    display: block;
    line-height: 1;
    text-align: center;

    &__wrap {
        display: flex;
        flex-direction: column;
        min-width: 95px;
        padding: 0 10px 10px;
    }

    &__time {
        display: flex;
        flex-direction: column;
        padding: 20px 0;

        span {
            @include font(null, 2rem, $bold);
        }
    }

    &__icon {
        position: relative;

        &::before {
            @include absolute(50%, null, null, 50%);
            transform: translateX(-50%) translateY(-50%);
        }
    }
}

/**
 * Base styles for back-link component.
 */
.back-link {
    $this: &;

    @include font($typo-1, 1.6rem, $normal);
    align-items: center;
    border-radius: 22px;
    color: $color-3--5;
    display: flex;
    padding: 10px 5px 10px 0;
    text-decoration: none;

    &__icon {
        @include size(23px);
        @include trs();
        align-items: center;
        border: 1.5px solid $color-3--5;
        border-radius: 50%;
        display: flex;
        flex-shrink: 0;
        font-size: 1.2rem;
        justify-content: center;
        margin-right: 10px;
    }

    &__text {
        @extend %underline;
    }

    @include on-event() {
        #{$this}__text {
            background-size: 100% 100%;
        }
    }
}