// Section styles
.section {
    margin: 100px 0;

    &__title {
        align-items: flex-start;
        display: flex;
        justify-content: space-between;
        margin-bottom: 63px;

        @include breakpoint(small down) {
            margin-bottom: 38px;
        }
    }

    &__more-links {
        @extend %button-links-group;
        justify-content: center;
        margin-top: 45px;
    }
}