// Section styles
.section {
    margin: 80px 0;

    &__title {
        align-items: flex-start;
        display: flex;
        justify-content: space-between;
        margin-bottom: 40px;

        @include breakpoint(small down) {
            margin-bottom: 30px;
        }
    }

    &__more-links {
        @extend %button-links-group;
        justify-content: center;
        margin-top: 30px;
    }
}