.title {
    @include font($typo-1, 4rem, $extrabold);
    color: $color-black;
    line-height: 1.25;
    position: relative;

    @include breakpoint(small down) {
        font-size: 3.2rem;
    }

    &__text {
        font-size: 1em;
    }

    &.is-primary {
        @include font($typo-1, 4.2rem, $bold);

        @include breakpoint(small down) {
            font-size: 3.2rem;
        }
    }

    &.is-hidden {
        display: none;
    }
}
