.description {
    &.section {
        background: {
            color: $color-1--2;
            image: url('../images/woman.png');
            position: bottom 0 right calc(50% - 170px);
            repeat: no-repeat;
            size: auto 710px;
        }
        margin: 60px 0 96px;
        overflow: hidden;
        padding: 154px 0 150px;
        position: relative;

        @include breakpoint(medium down) {
            background-position: bottom 0 right calc(50% - 120px);
        }

        @include breakpoint(small down) {
            background-image: none;
            padding: 120px 0 50px;
        }
    }

    &::before {
        @include absolute(0, null, null, 0);
        @include size(100vw, 50px);
        background-color: $color-white;
        border-radius: 0 0 50px 50px;
        content: '';
        pointer-events: none;
        z-index: 3;
    }

    .section {
        &__title {
            margin-bottom: 35px;
        }
    }

    &__container {
        @extend %container;
        position: relative;
        z-index: 2;

        &::before {
            @include absolute(-154px, null, null, 80px);
            @include size(650px);
            background: {
                image: url('../images/decor/ellipse-left.png');
                position: center;
                repeat: no-repeat;
                size: contain;
            }
            content: '';
            pointer-events: none;
            z-index: -1;

            @include breakpoint(small down) {
                content: none;
            }
        }
    }
}

.description-block {
    &__text {
        max-width: 730px;

        @include breakpoint(medium down) {
            max-width: 50%;
        }

        @include breakpoint(small down) {
            max-width: initial;
        }
    }

    &__teaser {
        @include font($typo-1, 1.6rem, $normal);
        color: $color-3--5;
        line-height: 1.6;
        margin-bottom: 27px;
    }
}