{%- from 'views/core-components/section.njk' import Section -%}
{%- import 'views/core-components/title.njk' as Title -%}

{% macro Description(
    titleText = 'Быстро и удобно',
    teaser = [
        'Наша платформа предоставляет возможность выбрать экскурсию по различным критериям: местоположению, тематике, продолжительности и т.д. Кроме того, у нас можно ознакомиться с отзывами других туристов, которые уже посетили данную экскурсию.',
        'Бронирование экскурсии через онлайн платформу также удобно тем, что не требует посещения туристического агентства или связывания с гидом напрямую. Все необходимые документы и информация о месте и времени встречи будут отправлены на электронную почту или мобильное устройство.'
    ]
) %}
    {% call Section(className = 'description appearance-animation', container = 'description__container') %}
        <div class="section__title appearance-animation flip-up">
            {{ Title.TitleDefault(
                className = 'is-primary',
                text = titleText
            ) }}
        </div>
        <div class="section__content appearance-animation from-bottom">
            <div class="description-block">
                <div class="description-block__text">
                    {% for paragraph in teaser %}
                        <p class="description-block__teaser">{{ paragraph }}</p>
                    {% endfor %}
                </div>
            </div>
        </div>
    {% endcall %}
{% endmacro %}