.header-wrapper {
    $this: &;

    display: block;
    padding: 0;
    width: 100%;

    &__container {
        position: relative;
    }
}

.header {
    $this: &;

    @include fixed(0, null, null, 0);
    @include size(100%, auto);
    background-color: $color-white;
    box-shadow: 0 1px 4px 0 rgba($color-black, 0.10);
    opacity: 1;
    z-index: 20;

    @include breakpoint(medium down) {
        &.js-fixed-el-abs {
            left: 0;
            transform: none;
        }
    }

    &__container {
        @extend %container;
    }

    &__inner {
        display: flex;
        position: relative;
    }

    &__logo {
        align-content: center;
        align-items: center;
        display: flex;
        flex-grow: 1;
        flex-shrink: 0;
        height: 114px;

        @include breakpoint(medium down) {
            height: 83px;
            padding-left: 35px;
        }
    }

    &__components {
        display: flex;
        flex: 1 1 100%;
        flex-wrap: wrap;
        justify-content: flex-end;
    }

    &__directions {
        align-items: center;
        display: flex;
    }

    &__nav {
        flex-grow: 1;
        width: 1%;

        @include breakpoint(medium down) {
            display: none;
        }
    }

    &__links {
        align-items: center;
        display: flex;
    }

    &__link {
        @include font(null, 1.5rem, $semibold);
        @include trs();
        align-items: center;
        background-color: $color-3--10;
        border-radius: 25px;
        display: flex;
        justify-content: center;
        margin-left: 20px;
        min-height: 50px;
        padding: 12px 14px;
        text-decoration: none;

        @include breakpoint(medium down) {
            font-size: 1.2rem;
            margin-left: 8px;
            min-height: 37px;
            padding: 5px 10.5px;
        }

        @include fa-icon-style(false) {
            color: $color-3--13;
            font-size: 2.2rem;

            @include breakpoint(medium down) {
                font-size: 1.6rem;
            }
        }

        @include on-event() {
            background-color: $color-3--5;
            color: $color-white;

            @include fa-icon-style(false) {
                color: $color-white;
            }
        }

        &.is-search {
            @include breakpoint(medium down) {
                display: none;
            }
        }

        &.is-login {
            min-width: 114px;

            @include breakpoint(medium down) {
                min-width: 85px;
            }
        }
    }

    &__nav-toggle {
        @include absolute(50%, null, null, 0);
        transform: translateY(-50%);

        &.is-lg-hide {
            @include breakpoint(large) {
                display: none;
            }
        }
    }
}
