{%- from 'views/utils/utils.njk' import setAttr -%}
{%- from 'views/core-components/icon.njk' import Icon -%}
{%- from 'components/logo/logo.njk' import Logo -%}
{%- from 'components/main-menu-toggle/main-menu-toggle.njk' import MainMenuToggle -%}
{%- from 'components/main-menu/main-menu.njk' import MainMenu -%}
{%- from 'views/core-components/link.njk' import Link -%}

{% set mainNav = [
    {
        text: 'Отделения',
        dropdown: [
            { text: 'Вирусология', link: 'detail-page.html' },
            { text: 'Кардиология', link: 'detail-page.html' },
            { text: 'Кардиология', link: 'detail-page.html' },
            { text: 'Кардиология', link: 'detail-page.html' },
            { text: 'Кардиология', link: 'detail-page.html' },
            { text: 'Кардиология', link: 'detail-page.html' }
        ]
    },
    { text: 'Наши врачи', link: 'list-persons.html' },
    { text: 'О нас', link: 'detail-page.html' }
] %}

{#
    HeaderNav template
#}
{%- macro HeaderNav() -%}
    <nav class="header-nav" role="navigation" aria-label="Основная навигация">
        <ul class="header-nav__list">
            {% for item in mainNav %}
                <li class="header-nav__item {{ 'js-dropdown' if item.dropdown }}">
                    {% if item.dropdown %}
                        <button
                            type="button"
                            class="header-nav__link js-dropdown-toggle"
                        >
                            <span class="header-nav__link-text">{{ item.text }}</span>
                            {{ Icon('header-nav__link-icon fas fa-angle-down') }}
                        </button>
                        <div class="header-nav__dropdown js-dropdown-block">
                            <ul class="header-dropdown__list">
                                {% for item in item.dropdown %}
                                    <li class="header-dropdown__item">
                                        <a href="{{ item.link }}" class="header-dropdown__link">{{ item.text }}</a>
                                    </li>
                                {% endfor %}
                            </ul>
                        </div>
                    {% else %}
                        <a class="header-nav__link" href="{{ item.link }}">{{ item.text }}</a>
                    {% endif %}
                </li>
            {% endfor %}
        </ul>
    </nav>
{%- endmacro -%}

{#
    Header template.
    @param {boolean} isHome - check if is home page
    @param {string} menuType - menu type
    @param {string|boolean} usePageImage - false or pageImage path
#}
{% macro Header(
    isHome = false
) %}
    <header class="header-wrapper" role="banner">
        <div class="header-wrapper__container">
            <div class="header js-fixed-element">
                <div class="header__container">
                    <div class="header__inner">
                        <div class="header__logo">
                            {{ Logo(isHome) }}
                        </div>
                        <div class="header__components">
                            <div class="header__nav">
                                {{ HeaderNav() }}
                            </div>
                            <div class="header__links">
                                {% call Link(
                                    href = '#',
                                    className = 'header__link is-search',
                                    icon = 'fas fa-search'
                                ) %}
                                    <span class="btn__text ghost">Перейти на страницу поиска</span>
                                {% endcall %}
                            </div>
                            <nav class="header__nav-toggle is-lg-hide" role="navigation" aria-label="Основная навигация">
                                {{ MainMenuToggle() }}
                            </nav>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="header-wrapper__nav">
            {{ MainMenu(isHome) }}
        </div>
    </header>
{% endmacro %}