.navbar {
    min-height: 10px;

    &__container {
        @extend %container;

        .is-detail & {
            @extend %container-sm;
        }
    }

    &__wrapper {
        padding: 40px 0;

        @include breakpoint(small down) {
            padding: 20px 0;
        }
    }

    &__list {
        align-items: center;
        display: flex;
        justify-content: flex-start;
    }
}