{% from 'components/breadcrumbs/breadcrumbs.njk' import Breadcrumbs %}

{#
    Navbar tempalte.
#}
{% macro Navbar(links) %}
    <div class="navbar">
        <div class="navbar__container">
            <div class="navbar__wrapper">
                {{ Breadcrumbs(links) }}
            </div>
        </div>
    </div>
{% endmacro %}