{% from 'components/breadcrumbs/breadcrumbs.njk' import Breadcrumbs %}

{#
    Navbar tempalte.
#}
{% macro Navbar() %}
    <div class="navbar">
        <div class="navbar__container">
            <div class="navbar__wrapper">
                {{ Breadcrumbs() }}
            </div>
        </div>
    </div>
{% endmacro %}