// Footer styles
.footer {
    background-color: $color-3--1;

    &__container {
        @extend %container;

        @include breakpoint(medium down) {
            max-width: 768px;
        }

        @include breakpoint(small down) {
            max-width: 380px;
        }
    }

    &__row {
        display: flex;
        flex-wrap: wrap;
        padding: 80px 0;

        @include breakpoint(medium down) {
            flex-direction: column;
            padding: 40px 0 0;
        }
    }

    &__column {
        &.is-first {
            flex-grow: 2;
            flex-shrink: 0;
            width: 1%;

            @include breakpoint(medium down) {
                width: 100%;
            }
        }

        &.is-last {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            width: 65%;

            @include breakpoint(medium down) {
                margin: 40px -20px 0;
                width: auto;
            }

            @include breakpoint(small down) {
                flex-direction: column;
            }
        }
    }

    &__bottom {
        @include font(null, 1.3rem, $normal);
        align-items: center;
        border-top: 1px solid $color-3--3;
        color: $color-black;
        display: flex;
        justify-content: space-between;
        padding: 25px 0;

        @include breakpoint(small down) {
            flex-direction: column;
        }
    }

    &__author {
        @include font(null, 1.3rem, $normal);
        flex-shrink: 0;

        @include breakpoint(small down) {
            margin-top: 13px;
        }

        a {
            @include on-event() {
                text-decoration: none;
            }
        }
    }
}