.footer-contacts {
    @include breakpoint(medium down) {
        align-items: center;
        display: flex;
        flex-direction: column;
    }

    &__title {
        @include font(null, 1.6rem, $semibold);
        color: $color-3--5;
        margin-bottom: 20px;
    }

    &__content {
        @include breakpoint(medium down) {
            align-items: center;
            display: flex;
            flex-direction: column;
        }
    }

    &__item {
        @include font(null, 1.4rem, $normal, normal);
        color: $color-3--5;
        padding: 8px 0 8px 20px;
        position: relative;

        @include breakpoint(medium down) {
            text-align: center;
        }

        @include fa-icon-style(false) {
            @include absolute(13px, null, null, 0);
            font-size: 1rem;
            margin-right: 7px;
        }

        span {
            font-weight: $semibold;
        }

        a {
            @include on-event() {
                text-decoration: none;
            }
        }
    }

    &__socials {
        margin-top: 20px;
    }
}