{%- from 'components/download-links/download-links.njk' import DownloadLinks -%}
{%- from 'views/utils/utils.njk' import wrapper -%}
{% from 'views/core-components/icon.njk' import Icon %}
{%- from 'components/social-networks/social-networks.njk' import SocialNetworks -%}

{#
    FooterInfo template.
#}
{%- macro FooterInfo(
    isHome,
    siteName = 'Tenloc',
    logoSrc = 'images/logos/logo.svg'
) -%}
    <section class="footer-info">
        <h2 class="ghost">Информация о сайте</h2>
        <div class="footer-info__logo">
            {% call wrapper(className ='logo', href = '' if isHome else './index.html') %}
                <img src="{{ logoSrc }}" alt="{{ '' if isHome else siteName + ' (вернуться на главную страницу)' }}">
            {% endcall %}
        </div>
        <div class="footer-info__downloads">
            {{ DownloadLinks() }}
        </div>
    </section>
{%- endmacro -%}

{#
    FooterNav template.
#}
{%- macro FooterNav(
    title = 'Title placeholder',
    linksArr = ['First link', 'Second link', 'Third link']
) -%}
    <section class="footer-nav">
        <h3 class="footer-nav__title">{{ title }}</h3>
        <ul class="footer-nav__list">
            {% for link in linksArr %}
                <li class="footer-nav__list-item">
                    <a href="#" class="footer-nav__list-link">{{ link }}</a>
                </li>
            {% endfor %}
        </ul>
    </section>
{%- endmacro -%}

{#
    FooterContacts template.
#}
{%- macro FooterContacts() -%}
    <section class="footer-contacts">
        <h3 class="footer-contacts__title">Поддержка клиентов</h3>
        <address class="footer-contacts__content">
            <p class="footer-contacts__item">
                {{ Icon('fas fa-phone-alt') }}
                <span>Телефон:</span>
                <a href="tel:0000000000" title="Позвонить менеджеру по телефону +7 (990) 000-00-00" aria-label="Позвонить менеджеру по телефону +7 (990) 000-00-00">+7 (990) 000-00-00</a>
            </p>
            <p class="footer-contacts__item">
                {{ Icon('fas fa-envelope') }}
                <span>E-mail:</span>
                <a href="mailto:hello@travelme.ru">hello@travelme.ru</a>
            </p>
            <p class="footer-contacts__item">
                {{ Icon('fas fa-map-marker-alt') }}
                <span>Офис:</span>
                Москва, ул. Название улицы 10, офис 11
            </p>
        </address>
        <div class="footer-contacts__socials">
            {{ SocialNetworks(modifier = 'has-no-text') }}
        </div>
    </section>
{%- endmacro -%}

{#
    Footer template.
#}
{%- macro Footer(
    isHome,
    authorLink = 'https://rocket-ads.ru/',
    authorTagline = 'Digital компания с погружением в бизнес',
    authorLogo = 'images/logos/logo-author.svg'
) -%}
    <footer class="footer appearance-animation" role="contentinfo">
        <div class="footer__container">
            <div class="footer__row">
                <div class="footer__column is-first">
                    {{ FooterInfo(isHome = isHome) }}
                </div>
                <div class="footer__column is-middle">
                    {{ FooterNav(
                        title = 'Сервис',
                        linksArr = ['О сервисе', 'Блог', 'Часто задаваемые вопросы', 'Способы оплаты']
                    ) }}
                    {{ FooterNav(
                        title = 'Гидам',
                        linksArr = ['Стать гидом', 'Правила работы']
                    ) }}
                    {{ FooterNav(
                        title = 'Документы',
                        linksArr = ['Политика возврата билетов', 'Договор оферты', 'Условия использования сайта', 'Политика обработки персональных данных', 'Реквизиты']
                    ) }}
                </div>
                <div class="footer__column is-last">
                    {{ FooterContacts() }}
                </div>
            </div>
            <div class="footer__bottom">
                <p class="footer__copyright">© 2023 «Tenloc».</p>
                <p class="footer__author">
                    Разработка сайта
                    <a href="{{ authorLink }}"
                       class="footer__author-link"
                       target="_blank"
                       rel="noreferrer"
                       title="{{ authorTagline }}"
                    >
                        <img src="{{ authorLogo }}" alt="RocketAds (перейти на сайт разработчика)">
                    </a>
                </p>
            </div>
        </div>
    </footer>
{%- endmacro -%}
