{%- from 'views/utils/utils.njk' import setAttr, setAttributes -%}
{%- from 'views/core-components/icon.njk' import Icon -%}

{#
    Insert button.
    @param {string} text - button inner text.
    @param {string} className - button class.
    @param {string} type - button type.
    @param {string} icon - icon class.
    @param {string} tooltip - add button tooltip text.
    @param {string} disabled - disable button.
    @param {object} attrs - object with attributes.
#}
{% macro Button(
    text = 'button',
    className = 'btn',
    type = 'button',
    icon = 'far fa-check',
    iconTitle = '',
    tooltip = '',
    disabled = false,
    attrs = {}
) %}
    <button
        class="{{ className }}{{ ' js-tooltip' if tooltip }}"
        {{ setAttr('type', type) }}
        {{ setAttr('data-content', tooltip) }}
        {{ setAttr('disabled', disabled) }}
        {{ setAttributes(attrs) }}
    >
        {{ Icon(className = icon, title = iconTitle if iconTitle) if icon }}
        {% if caller %}
            {{ caller() }}
        {% elif text %}
            <span class="btn__text">{{ text | safe }}</span>
        {% endif %}
    </button>
{% endmacro %}
