{%- from 'views/core-components/button.njk' import Button -%}

{#
    Insert carousel element navigation.
    @param {string} wrapperClassName - carousel element class name (parent).
#}
{%- macro CarouselNavigation(wrapperClassName) -%}
    {%- call Button(
        className = wrapperClassName + '__control is-prev js-swiper-control',
        icon = 'fas fa-arrow-left',
        attrs = {
            'title': 'Предыдущая статья'
        }
    ) %}
        <span class="ghost">Предыдущая статья</span>
    {% endcall %}
    {%- call Button(
        className = wrapperClassName + '__control is-next js-swiper-control',
        icon = 'fas fa-arrow-right',
        attrs = {
            'title': 'Следующая статья'
        }
    ) %}
        <span class="ghost">Следующая статья</span>
    {% endcall %}
{%- endmacro -%}

{#
    Insert carousel element.
    @param {string} wrapperClassName - carousel element class name (parent).
#}
{%- macro CarouselWrapper(wrapperClassName, count) -%}
    <div class="{{ wrapperClassName }}" role="group" aria-roledescription="слайд-шоу">
        <div class="{{ wrapperClassName }}__navigation">
            {{ CarouselNavigation(wrapperClassName) }}
        </div>
        <div class="{{ wrapperClassName }}__container swiper js-swiper">
            <ul class="{{ wrapperClassName }}__wrapper swiper-wrapper">
                {% for item in range(count) %}
                    <li class="{{ wrapperClassName }}__item swiper-slide appearance-animation from-bottom" aria-label="{{ loop.index + ' из ' + loop.length }}">
                        {{ caller() }}
                    </li>
                {% endfor %}
            </ul>
        </div>
    </div>
{%- endmacro -%}
