{% from 'views/core-components/icon.njk' import Icon %}
{%- from 'views/core-components/button.njk' import Button -%}

{#
    SearchTags template.
#}
{% macro SearchTags(
    caption = 'Часто ищут:',
    tags = ['Дубай', 'Стамбул', 'Санкт-Петербург', 'Казань']
) %}
    <{{ 'figure' if caption else 'div' }} class="search-tags">
        {% if caption  %}
            <figcaption class="search-tags__caption">{{ caption }}</figcaption>
        {% endif %}
        <ul class="search-tags__list" aria-roledescription="Список ярлыков">
            {% for tag in tags %}
                <li class="search-tags__item">
                    <a href="#" class="search-tags__tag">{{ tag }}</a>
                </li>
            {% endfor %}
        </ul>
    </{{ 'figure' if caption else 'div' }}>
{% endmacro %}

{#
    SearchNav template.
#}
{%- macro SearchNav(
    btnClassName
) -%}
    <form class="form search-nav" action="/">
        <fieldset class="form__fieldset">
            <legend class="form__legend ghost">Форма поиска</legend>
            <div class="form__wrapper-inner">
                <div class="form__field-wrapper">
                    <label for="field-search" class="form__label ghost">Поиск</label>
                    <input name="field-place" id="field-search" type="text" class="form__field" placeholder="Поиск" autocomplete="off">
                </div>
                {% call Button(
                    type = 'submit',
                    className = btnClassName,
                    icon = 'fas fa-search'
                ) %}
                    <span class="ghost">Найти</span>
                {% endcall %}
            </div>
        </fieldset>
    </form>
{%- endmacro -%}

{#
    SearchResultItem template.
#}
{% macro SearchTagsItem(
    title = 'Search result title default'
) %}
    <article class="search-result">
        <h2 class="item-title search-result__title">
            <a href="{{ link }}" class="search-result__title-link">
                <span class="underline">{{ title }}</span>
            </a>
        </h2>
    </article>
{% endmacro %}

{#
    SearchResultList template.
#}
{% macro SearchTagsList(
    count = 8
) %}
    <ul class="list is-columns-1">
        {% for item in range(count) %}
            <li class="list__item appearance-animation from-bottom">
                {{ SearchTagsItem() }}
            </li>
        {% endfor %}
    </ul>
{% endmacro %}