.blog-item {
    $this: &;

    @extend %link-block-context;
    display: flex;
    flex-direction: column-reverse;
    margin: 0 auto;
    max-width: 450px;

    &__image {
        border-radius: $border-radius;
        display: flex;
        overflow: hidden;

        img {
            @include size(100%, auto);
            display: block;
            max-width: 100%;
        }
    }

    &__content {
        padding: 20px 0 0;
        text-align: center;
    }

    &__title-link {
        @extend %link-block;
        @extend %underline-context;
    }
}