.blog {
    &__container {
        @extend %container;
        position: relative;
    }
}

.blog-carousel {
    margin: 0 -20px;

    @include breakpoint(small down) {
        max-width: 282px;
    }

    &__navigation {
        @include absolute(0, null, null, 170px);
        display: flex;
        z-index: 2;

        @include breakpoint(small down) {
            left: 120px;
        }
    }

    &__control {
        & + & {
            margin-left: 14px;
        }
    }

    &__container {
        @include breakpoint(small down) {
            overflow: visible;
        }
    }

    &__item {
        margin-bottom: 20px;
        padding: 0 20px;
        opacity: 1;
    }
}