.blog {
    background-color: $color-3--10;
    margin: 70px 0 115px;
    padding: 145px 0 38px;
    position: relative;

    @include breakpoint(small down) {
        margin: 0 0 60px;
        padding: 102px 0 60px;
    }

    &::before {
        @include absolute(0, null, null, 0);
        @include size(100%, 50px);
        background-color: $color-white;
        border-radius: 0 0 50px 50px;
        content: '';
        pointer-events: none;
    }

    &__container {
        @extend %container;
        position: relative;
    }

    .section__title {
        margin-bottom: 54px;
    }
}

.blog-carousel {
    margin: 0 -23px;

    @include breakpoint(small down) {
        margin: 0 -13px;
        max-width: 282px;
    }

    &__navigation {
        @include absolute(0, null, null, 170px);
        display: flex;
        z-index: 2;

        @include breakpoint(small down) {
            left: 140px;
        }
    }

    &__control {
        & + & {
            margin-left: 14px;
        }
    }

    &__container {
        @include breakpoint(small down) {
            overflow: visible;
        }
    }

    &__item {
        margin-bottom: 68px;
        padding: 0 23px;

        @include breakpoint(small down) {
            margin-bottom: 20px;
            padding: 0 13px;
        }
    }
}