{% from 'views/core-components/image.njk' import Image %}
{%- from 'views/core-components/carousel.njk' import CarouselWrapper -%}
{%- from 'views/core-components/section.njk' import Section -%}
{%- import 'views/core-components/title.njk' as Title -%}
{%- from 'views/core-components/link.njk' import Link -%}

{#
    BlogItem template.
#}
{%- macro BlogItem(
    link = 'detail-page.html',
    imageSizes = ['450x318'],
    title = 'Default title text'
) -%}
    <article class="blog-item">
        <div class="blog-item__content">
            <h3 class="item-title blog-item__title">
                <a href="{{ link }}" class="blog-item__title-link">
                    <span class="underline">{{ title }}</span>
                </a>
            </h3>
        </div>
        {{ Image({
            className: 'blog-item__image',
            sizes: imageSizes,
            type: 'no-image' if (range(5, 20) | random) > 15 else 'default',
            serviceID: range(50) | random
        }) }}
    </article>
{%- endmacro -%}

{#
    BlogList template.
    @param {number} count - items count.
#}
{%- macro BlogList(
    count = 12
) -%}
    <ul class="list is-columns-3 is-columns-md-2 is-columns-sm-1">
        {% for item in range(count) %}
            <li class="list__item appearance-animation from-bottom">
                {{ BlogItem() }}
            </li>
        {% endfor %}
    </ul>
{%- endmacro -%}

{#
    BlogCarousel template.
#}
{%- macro BlogCarousel(
    count = 6
) -%}
    {% call CarouselWrapper('blog-carousel', 'appearance-animation from-bottom', count) %}
        {{ BlogItem(title = lorem(1)) }}
    {% endcall %}
{%- endmacro -%}

{#
    BlogHome template.
    Template for blog on home page.
#}
{%- macro BlogHome(
    titleText = 'Новости',
    isCarousel = false,
    itemCount = 6
) -%}
    {% call Section(className = 'blog', container = 'blog__container') %}
        <div class="section__title appearance-animation flip-up">
            {{ Title.TitleDefault(
                text = titleText
            ) }}
            {% if isCarousel %}
                {{ Link(
                    href = '#',
                    text = 'В блог',
                    className = 'btn is-inverted is-small',
                    icon = false
                ) }}
            {% endif %}
        </div>
        <div class="section__content">
            {% if isCarousel %}
                {{ BlogCarousel() }}
            {% else %}
                {{ BlogList(count = itemCount) }}
            {% endif %}
        </div>
        <div class="section__more-links appearance-animation from-bottom">
            {{ Link(
                href = 'list-blog.html',
                text = 'Все новости',
                className = 'btn is-primary',
                icon = false
            ) }}
        </div>
    {% endcall %}
{%- endmacro -%}