$color-telegram: #20a0e1;
$color-vkontakte: #5181bb;

.social-networks {
    $this: &;

    &__list {
        display: flex;
        flex-wrap: wrap;

        @include breakpoint(small down) {
            justify-content: center;
        }
    }

    #{$this}__link {
        @include font(null, 3.2rem, $normal, normal);
        @include size(45px, 32px);
        @include trs();
        align-items: center;
        display: flex;
        justify-content: center;
        text-decoration: none;

        &.is-telegram {
            color: $color-telegram;
        }

        &.is-vkontakte {
            color: $color-vkontakte;
        }

        @include on-event() {
            color: $color-black;
        }
    }

    &__link-text {
        margin-left: 10px;
        pointer-events: none;
    }
}