.direction-item {
    $this: &;

    @extend %link-block-context;
    background-color: $color-3--5;
    border-radius: 20px;
    display: flex;
    flex-direction: column-reverse;
    height: 100%;
    margin: 0 auto;
    max-width: 449px;
    overflow: hidden;
    position: relative;

    @include on-event() {
        #{$this}__content {
            min-height: 100%;
        }
    }

    &__image {
        display: flex;
        height: 100%;

        img {
            @include size(100%, auto);
            display: block;
            max-width: 100%;
        }
    }

    &__content {
        @include absolute(null, 0, 0, 0);
        @include size(100%, auto);
        @include trs();
        align-items: flex-start;
        background-image: linear-gradient(to top, rgba($color-3--5, 79%) 0%, transparent 100%);
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        min-height: 50%;
        padding: 40px 45px;
        z-index: 2;

        @include breakpoint(small down) {
            padding: 15px;
        }
    }

    &__title {
        @include font(null, 2.2rem, $bold);
        color: $color-white;

        @include breakpoint(small down) {
            font-size: 1.3rem;
        }

        + #{$this}__quantity {
            margin-top: 25px;

            @include breakpoint(small down) {
                margin-top: 15px;
            }
        }
    }

    &__title-link {
        @extend %link-block;
        @extend %underline-context;

        .underline {
            @include multiline-underline(2px, $color-white);
        }
    }

    &__quantity {
        @include font(null, 1.3rem, $medium);
        background-color: $color-1--1;
        border-radius: 100px;
        color: $color-3--5;
        line-height: 1;
        padding: 11px 21px;

        @include breakpoint(small down) {
            font-size: 1rem;
            padding: 4px 9px;
        }
    }
}